<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642036016444-hscbt3lh78087esmerbauieot1fphkbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642036016444-hscbt3lh78087esmerbauieot1fphkbq</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ6XJ1NmWXY3yMNHAd-fLISJksX8dgMkY</string>
	<key>GCM_SENDER_ID</key>
	<string>642036016444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dsgw.chattingApp</string>
	<key>PROJECT_ID</key>
	<string>chattingapp-cbabd</string>
	<key>STORAGE_BUCKET</key>
	<string>chattingapp-cbabd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642036016444:ios:1eac55efa62c66e95d6a39</string>
	<key>DATABASE_URL</key>
	<string>https://chattingapp-cbabd.firebaseio.com</string>
</dict>
</plist>